/* common styles for website  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}

.container {
    padding-inline: 120px;
}

.sec-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.sec-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
    max-width: 594px;
    margin-inline: auto;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
}

section {
    margin-block: 128px;
}

/* header styles start here  */
header {
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 128px;
    padding-top: 50px;

}

.header-sec {
    background: url("./images/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;

}

.header-content-innner {
    padding-block: 100px;
}

.header-content-innner h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-right: 50px;
}

.header-content-innner .sec-description {
    text-align: left;
    margin-block: 32px;
    font-size: 16px;
    max-width: 500px;
    margin-inline: unset;

}

.header-content-innner .btn-primary {
    margin-bottom: 50px;
}


/* our featured section styles  */
.featured-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.featured-outer h2 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 30px;
}

.featured-inner-img1,
.featured-inner-img2,
.featured-inner-img3 {
    /* width: 464px; */
    height: 460px;
    border-radius: 300px 300px 0px 0px;

}

.featured-inner-img1 {
    background: rgba(167, 33, 98, 0.15);
    padding-top: 110px;
    padding-inline: 76px;

}

.featured-inner-img2 {

    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.featured-inner-img3 {
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.featured-inner-img1 img,
.featured-inner-img3 img {
    height: 100%;
}

/* delivery section styles */

.delivery-sec {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding-block: 86px;
    padding-inline: 50px;
}

.delivery-sec-inner {
    display: flex;
    justify-content: space-evenly;
}

.delivery-sec div {
    text-align: center;
}

.delivery-sec div img {
    width: 88px;
    height: 88px;
}

.delivery-sec-inner p {
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/* bonus sec  */
.bonus-sec-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 24px; */
}

.bonus-sec-outer img {
    width: 240px;
    height: 240px;
}

.bonus-sec-outer p {
    text-align: center;
    margin-top: 10px;
}

/* discount sec  */
.discount-sec {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-block: 100px;
}

.discount-sec-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discount-sec-content-left {
    text-align: center;
}

.discount-sec-content-left .sec-title span {
    color: #E55473;
}

.discount-sec-content-left .sec-description {
    margin-bottom: 24px;
}

/* instagram section styles are here  */
.instagram-sec-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.subscription-sec {
    background: url("./images/r9.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-block: 122px;
}

.subscription-sec-inner {
    text-align: center;
}

.subscription-sec-inner h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subscription-sec-inner p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

}

.subscription-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.subscription-input input[type="email"] {
    width: 400px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    outline: 0;
    padding: 14px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

.subscription-input input[type="submit"] {
    border: 0;
    outline: 0;
    padding: 14px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}

/* footer  */
footer {
    background: #111010;
    padding-block: 128px;
}

.footer-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-outer h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}

.footer-outer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 625px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
}

.footer-outer h1 span {
    color: #E55473;
}